---
import { SITE, BLOG } from '~/config.mjs';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { fetchPosts } from '~/utils/blog';
import { BLOG_BASE } from '~/utils/permalinks';

import { supportedLanguages } from '~/utils/i18n/translations';
import { getLangFromUrl, useTranslations } from '~/utils/i18n/i18n_utils';

export async function getStaticPaths({ paginate }) {
  if (BLOG?.disabled || BLOG?.list?.disabled) return [];

  const langs = supportedLanguages();
  const pathPromises = langs.map(async (lang) => {
    const posts = await fetchPosts(lang);
    return paginate(posts, {
      params: { lang: lang, blog: BLOG_BASE },
      pageSize: BLOG.postsPerPage,
    });
  });
  const paths = await Promise.all(pathPromises);
  return paths.flat();
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

const meta = {
  title: `Blog — Page ${currentPage}`,
  description: SITE.description,
  noindex: BLOG?.list?.noindex || currentPage,
  ogType: 'blog',
};

const language = getLangFromUrl(Astro.url);
const t = useTranslations(language);
---

<Layout {meta}>
  this is the overview<section class="mx-auto max-w-4xl px-6 py-12 sm:px-6 sm:py-16 lg:py-20">
    <Headline
      subtitle="A statically generated blog example with news, tutorials, resources and other interesting content related to AstroWind"
    >
      {t('blog.title')}
    </Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>---
